@using _12_LibraryCRUD.Data;

@model IEnumerable<Book>
<div class="row">

    <div class="col-4">
    </div>

    <div class="col-4">
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Price</th>
            </tr>
            @foreach(var book in Model)
            {
                <tr>
                    <partial name="_Book" model="book"/>
                </tr>
            }
        </table>
    </div>

    <div class="col-4">
    </div>
</div>