<div class="row">

    <div class="col-4">
        <a asp-controller="Books" asp-action="Index">
            <button class="btn btn-primary">Books</button>
        </a>
    </div>

    <div class="col-4">
        <a asp-controller="Library" asp-action="Authors">
            <button class="btn btn-primary">Authors</button>
        </a>

    </div>

    <div class="col-4">
        <a asp-controller="Library" asp-action="Clients">
            <button class="btn btn-primary">Clients</button>
        </a>

    </div>
</div>